In [263]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
pd.options.mode.chained_assignment = None

root = 'C:/Data/for-you/'
import os

In [264]:
apps = pd.read_csv('applicants_cleans.csv')

In [265]:
apps.head()

,userid,age_bin,classification,first_generation,datascience_experience,num_hackathons_attended,workshop_suggestions,undergrad,Masters,PhD,...,Anthropology,Public Service and Administration,school_0,school_1,school_2,school_3,school_4,school_5,school_6,school_7
0,95030aef3e970680d882f1527f549d9e,4,5,0,2,0,Python Fundamentals (Functions/Loops)\nVisuali...,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,68ad76832a913de0d62df103b3d5b807,1,3,1,2,0,Training videos on different levels of machine...,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,959d8992667c8bfc1ac665f234360eb6,3,5,1,2,0,NaN,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,76b067cd5f3e1b1976d2e2eeceedf567,1,3,0,1,0,Python data science,1,0,0,...,0,0,0,0,0,0,0,0,1,1
4,f44cfb96520a82e172ce2ae116b21187,3,4,0,1,0,NaN,1,0,0,...,0,0,0,0,0,0,0,0,0,1

## Recommendation Engine

In [266]:
from numpy import dot
from numpy.linalg import norm

def cos_sim(a,b):
    if norm(a)*norm(b) == 0:
        return 'Null'
    return dot(a, b)/(norm(a)*norm(b))

In [267]:
users = apps.drop('workshop_suggestions', axis = 1)
users = users.set_index('userid')

In [268]:
def find_users(uid, df, similar = 1):
    
    other_users = df.drop(uid, axis = 0)
    other_users['similarity'] = [cos_sim(df.loc[uid], x) for x in other_users.values]
    other_users = other_users[other_users['similarity'] != 'Null']
    if similar == 1:
        other_users = other_users.sort_values('similarity', ascending = False)[0:10]
        return other_users['similarity']
    elif similar == -1:
        other_users = other_users.sort_values('similarity', ascending = True)[0:10]
        return other_users['similarity']
    elif similar == 0:
        other_users = other_users.sort_values('similarity', ascending = True)
        total_users = other_users.shape[0]
        other_users = other_users.iloc[int(total_users/2 - 5):int(total_users/2 + 5)]
        return other_users['similarity']

In [269]:
find_users('95030aef3e970680d882f1527f549d9e', users, similar=1)

C:\Users\archd\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

userid
3e044fed44102814d3b706da157bd9f4    0.936134
de70dd12b67404aff06ecb693dcfd504    0.935601
9c781c4ce2e522596547b2d1e5e0189e    0.926030
9b435d7fdce819358ab0dd7166032677    0.917779
0236d1acd3b62d1abf0b20aeb5bcac05    0.917779
e2993f852f4b692040b15e1c2725014e    0.916342
3b9722f223319cbdd89e7549da1a4599    0.914337
07d6c4a418df4f15447b6a9df65d391b    0.910714
989662d5da3b4939fd3f4d552f603a7b    0.910714
c6af43f001fffe767d6336c56c3b6454    0.909241
Name: similarity, dtype: float64

In [270]:
find_users('95030aef3e970680d882f1527f549d9e', users, similar=-1)

C:\Users\archd\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

userid
0553d8880a8178ef7ccbeb336c0c8a16    0.282038
ae4ccf7709cfe0dbe4b5b2ab46027af0    0.283473
96c37d7defb8267ff1846dda916ca0bf    0.283473
8719a9e486f86bc06ee785d699612d72    0.295804
d84bbd87c02471d7fe6e0b7621150c86    0.298807
32b40a21eb04b63460776dbacc2542f2    0.311805
1c2c9f6e1df7213003d69693fe26680f    0.330719
84dba45d5143b23432a5d07b052b4ff0    0.330719
210482e69fac95eb309bf87ffbae804d    0.330719
2630e5d902935f92f0f37466624e6437    0.338062
Name: similarity, dtype: float64

In [271]:
find_users('95030aef3e970680d882f1527f549d9e', users, similar=0)

C:\Users\archd\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

userid
d50a5de9d6fe857e91c1672a5c2ec466    0.745434
e096d2c7dffeb67d0ebe10b80502e7f8    0.745800
9689b86f31cffac532892e81cffd7ec2    0.745800
f7a8c6363642b1fea1bcdccf64a5cab6    0.745800
df91725088f517570e68da4f92ba0282    0.746937
b529f456fea557146e40938c0f6dbbe0    0.747018
e0dc30afe66ec0ff08f0983dc49a1d64    0.747018
dcb8ea888affede418b65c01e0787dc1    0.747018
2bb633f899f18e132792fe9a82d7aa92    0.747018
75c843517ed3c98fe84187b8cf31a106    0.747018
Name: similarity, dtype: float64

## User search engine

In [195]:
import pickle 

pkl_file = open('encoder.pkl', 'rb')
encoder = pickle.load(pkl_file) 
pkl_file.close()

pkl_file = open('industries.pkl', 'rb')
industries = pickle.load(pkl_file) 
pkl_file.close()

pkl_file = open('technologies.pkl', 'rb')
technologies = pickle.load(pkl_file) 
pkl_file.close()

pkl_file = open('majors.pkl', 'rb')
majors = pickle.load(pkl_file) 
pkl_file.close()

In [196]:
majors = [i for i in majors if len(i)>0]
industries = [i for i in industries if len(i)>0]
technologies = [i for i in technologies if len(i)>0]

In [209]:
def prep_df(df):
    
    df = df.drop(['other_school', 'workshop_suggestions'], axis = 1)
    df.age_bin = df.age_bin.map({'(15, 18]' : 0, '(18, 20]': 1, '(20, 22]': 2, '(22, 25]': 3, 
                        '(25, 30]' : 4, '(30, 50]': 5})

    df['undergrad'] = df.classification.apply(lambda x: 1 if x in ('Jr', 'Sr', 'So', 'Fr') else 0)
    df['Masters'] = df.classification.apply(lambda x: 1 if x == 'Ma' else 0)
    df['PhD'] = df.classification.apply(lambda x: 1 if x == 'PhD' else 0)
    df.classification = df.classification.map({'O': 0, 'Fr':1 , 'So':2, 'Jr':3, 'Sr':4, 'Ma':5, 'PhD':6})

    df.first_generation = df.first_generation.apply(lambda x: 1 if x==1 else 0)

    df.technology_experience = df.technology_experience.str.replace('[', '')
    df.technology_experience = df.technology_experience.str.replace(']', '')
    df.technology_experience = df.technology_experience.str.replace("'", "")
    df.technology_experience = df.technology_experience.str.replace("'", "")
    df.technology_experience = df.technology_experience.str.replace(" ", "")

    for i in technologies:
        if len(i)>0:
            df[i] = df.technology_experience.apply(lambda x: 1 if i in x else 0)

    df.relavent_industries = df.relavent_industries.str.replace('[', '')
    df.relavent_industries = df.relavent_industries.str.replace(']', '')
    df.relavent_industries = df.relavent_industries.str.replace("'", "")
    df.relavent_industries = df.relavent_industries.str.replace("'", "")
    df.relavent_industries = df.relavent_industries.str.replace(" ", "")

    for i in industries:
        if len(i)>0:
            df[i] = df.relavent_industries.apply(lambda x: 1 if i in x else 0)

    df = df.drop(['technology_experience', 'relavent_industries'], axis = 1)

    df.majors = df.majors.str.replace('[', '')
    df.majors = df.majors.str.replace(']', '')
    df.majors = df.majors.str.replace("'", "")
    df.majors = df.majors.str.replace("'", "")

    for i in majors:
        if len(i)>0:
            df[i] = df.majors.apply(lambda x: 1 if i in x else 0)

    df.minors = df.minors.str.replace('[', '')
    df.minors = df.minors.str.replace(']', '')
    df.minors = df.minors.str.replace("'", "")
    df.minors = df.minors.str.replace("'", "")

    for i in majors:
        if len(i)>0:
            df[i] = df.minors.apply(lambda x: 1 if i in x else 0)

    df = df.drop(['majors','minors'], axis = 1)

    df.num_hackathons_attended = df.num_hackathons_attended.map({'0':0, '1-3':1, '4-7':2, '8-10':3, '10+':4})

    df = pd.concat([df, encoder.transform(df.school)], axis=1, sort=False)
    df = df.drop(['school'], axis =1)
    df = df.set_index('userid')
    return df

In [210]:
df = pd.read_csv(root + 'applicants.csv')
df.head()

,userid,school,other_school,majors,minors,age_bin,classification,first_generation,datascience_experience,technology_experience,num_hackathons_attended,workshop_suggestions,relavent_industries
0,95030aef3e970680d882f1527f549d9e,Texas A&M University,NaN,"['Landscape Architecture & Urban Planning', 'P...",['Soil and Crop Sciences'],"(25, 30]",Ma,False,2,"['Excel', 'Python', 'Tableau', 'Pandas']",0,Python Fundamentals (Functions/Loops)\nVisuali...,"['consulting', 'public_policy', 'other']"
1,68ad76832a913de0d62df103b3d5b807,Texas A&M University,NaN,"['Electrical Engineering', 'Material Science',...",[],"(18, 20]",Jr,True,2,"['Excel', 'Python', 'Pandas', 'NumPy', 'MATLAB']",0,Training videos on different levels of machine...,"['technology', 'education', 'healthcare', 'ins..."
2,959d8992667c8bfc1ac665f234360eb6,Oregon State University,NaN,['Computer Science & Engineering'],[],"(22, 25]",Ma,True,2,"['Python', 'Pytorch', 'Pandas', 'NumPy', 'Scik...",0,NaN,['technology']
3,76b067cd5f3e1b1976d2e2eeceedf567,"Arizona State University, Tempe Campus",NaN,['Biomedical Engineering'],[],"(18, 20]",Jr,False,1,"['Excel', 'MATLAB']",0,Python data science,"['technology', 'healthcare']"
4,f44cfb96520a82e172ce2ae116b21187,Texas A&M University,NaN,['Computer Science & Engineering'],[],"(22, 25]",Sr,False,1,"['Python', 'Pandas']",0,NaN,[]

In [211]:
clean_df = prep_df(df)
clean_df.head()

,age_bin,classification,first_generation,datascience_experience,num_hackathons_attended,undergrad,Masters,PhD,Excel,Python,...,Anthropology,Public Service and Administration,school_0,school_1,school_2,school_3,school_4,school_5,school_6,school_7
userid,,,,,,,,,,,,,,,,,,,,,
95030aef3e970680d882f1527f549d9e,4,5,0,2,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,1
68ad76832a913de0d62df103b3d5b807,1,3,1,2,0,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
959d8992667c8bfc1ac665f234360eb6,3,5,1,2,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
76b067cd5f3e1b1976d2e2eeceedf567,1,3,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,1
f44cfb96520a82e172ce2ae116b21187,3,4,0,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [258]:
def find_users2(uid, other_users, similar = 1):
    
    if uid.shape[1]<1:
        print('Choose Any filter')
        return 0
        
    other_users['similarity'] = [cos_sim(uid.values, x) for x in other_users.values]
    other_users = other_users[other_users['similarity'] != 'Null']
    
    if similar == 1:
        other_users = other_users.sort_values('similarity', ascending = False)[0:10]
        return other_users['similarity']
    elif similar == -1:
        other_users = other_users.sort_values('similarity', ascending = True)[0:10]
        return other_users['similarity']
    elif similar == 0:
        other_users = other_users.sort_values('similarity', ascending = True)
        total_users = other_users.shape[0]
        other_users = other_users.iloc[int(total_users/2 - 5):int(total_users/2 + 5)]
        return other_users['similarity']

In [261]:
def search_users(df, school = '', majors_vals = '', age_bin = '', classification = '', first_generation = '',
                datascience_experience = '', num_hackathons_attended = '', technology = '', relavent_industries=''):
    
    search = pd.DataFrame(columns = df.columns)
    
    if len(age_bin)>0:
        age = {'(15, 18]' : 0, '(18, 20]': 1, '(20, 22]': 2, '(22, 25]': 3, '(25, 30]' : 4, '(30, 50]': 5}
        search.loc[0, 'age_bin'] = age[age_bin]
    else:
        df = df.drop('age_bin', axis = 1)        
    
    if len(classification)>0:
        search.loc[0, 'undergrad'] = [1 if classification in ('Jr', 'Sr', 'So', 'Fr') else 0]
        search.loc[0, 'Masters'] = [1 if classification == 'Ma' else 0]
        search.loc[0, 'PhD'] = [1 if classification == 'PhD' else 0]
        
        class_dict = {'O': 0, 'Fr':1 , 'So':2, 'Jr':3, 'Sr':4, 'Ma':5, 'PhD':6}
        search.loc[0, 'classification'] = class_dict[classification]
    else:
        df = df.drop(['undergrad', 'Masters', 'PhD', 'classification'], axis = 1)
    
    if len(first_generation)>0:
        search.loc[0, 'first_generation'] = [i if first_generation=='True' else 0]
    else:
        df = df.drop('first_generation', axis = 1)
        
    if len(datascience_experience)>0:
        search.loc[0, 'datascience_experience'] = int(datascience_experience)
    else:
        df = df.drop('datascience_experience', axis = 1)
    
    if len(num_hackathons_attended)>0:
        datahack_dict = {'0':0, '1-3':1, '4-7':2, '8-10':3, '10+':4}
        search.loc[0, 'num_hackathons_attended'] = datahack_dict[num_hackathons_attended]
    else:
        df = df.drop('num_hackathons_attended', axis = 1)
    
    if len(technology)>0:
        for i in technologies:
            search.loc[0, i] = [1 if i in technology else 0][0]
    else:
        df = df.drop(technologies, axis = 1)
    
    if len(majors_vals)>0:
        for i in majors:
            search.loc[0, i] = [1 if i in majors_vals else 0][0]
    else:
        df = df.drop(majors, axis = 1)
    
    if len(school)>0:
        search.loc[0, [i for i in df.columns if 'school' in i]] = \
                    encoder.transform(pd.DataFrame([school], columns = ['school']))
    else:
        df = df.drop([i for i in df.columns if 'school' in i], axis = 1)
    
    if len(relavent_industries)>0:
        for i in industries:
            search.loc[0, i] = [1 if i in relavent_industries else 0][0]
    else:
        df = df.drop(industries, axis = 1)
    
    search = search.dropna(axis = 1)
    
    return find_users2(search, df)

In [262]:
search_users(clean_df, datascience_experience = '1', technology='Excel')

userid
e2993f852f4b692040b15e1c2725014e    [0.9999999999999998]
a680257699998ddae4d9956eceb8df33    [0.9999999999999998]
3b710acd8db92cba2d614eb3b22bdf46    [0.9999999999999998]
1dd723c0df9043c781f1cf5bd10ec71b    [0.9999999999999998]
b72587ce99a065067a775f9af6ac5e0e    [0.9999999999999998]
b8b3863e425a9535b2600c0acf80f631    [0.9486832980505138]
4cc5ca3efe97477f7116bd6cdaf0270b    [0.8660254037844387]
e5262ec01ac23f72ade4e7d8b03c5551    [0.8660254037844387]
7c9499ee10ab1305c26b5b7cf231d0e2    [0.8660254037844387]
a5924b3cc302a1b78b8913a5b27b5265    [0.8660254037844387]
Name: similarity, dtype: object